[submodule "submodules/mlx"]
	path = Source/Cmlx/mlx
	url = https://github.com/srigram/mlx
	branch = t5
[submodule "submodules/mlx-c"]
	path = Source/Cmlx/mlx-c
	url = https://github.com/ml-explore/mlx-c
